#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav a {
  text-decoration: none;
  margin: 0 20px;
  color: #808080;
}

nav a.active {
  font-weight: bold;
  color: #333;
}

.title {
  color: #333;
  font-size: 174px;
  font-weight: 400;
}
